@model PronosContest.Models.InformationsPronosticViewModel

@{
    if (this.Model != null)
    {
        <div id="chartStatsVainqueurs" style="height: 200px;"></div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("/Pronostics/GetStatsVainqueursJson?pIdConcours=" + @this.Model.ConcoursID + "&pIdMatch=" + @this.Model.MatchID, function (data) {
            new Morris.Donut({
                element: 'chartStatsVainqueurs',
                data: JSON.parse(data)
            });
        });
    });
</script>