@model List<PronosContest.DAL.Pronos.Pronostic>

@if (this.Model != null && this.Model.Any())
{
	<div class="panel panel-primary">
		<div class="panel-heading">Scores pronostiqués par participant</div>
		<div class="panel-body">
			<ul class="list-group">
				@{
					foreach (var prono in this.Model)
					{
						<li class="list-group-item">
							<span class="badge">@prono.Score</span>
							@(prono.CompteUtilisateur.Prenom + " " + prono.CompteUtilisateur.Nom)
						</li>
					}
				}
				
			</ul>
		</div>
	</div>
}
