@model List<PronosContest.DAL.Pronos.Concours>
@{
    ViewBag.Title = "Vos concours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	if (this.Model != null && this.Model.Any())
	{

		foreach (var c in this.Model)
		{

		}
	}
	else
	{
		<div class="alert alert-warning" role="alert">
			Vous ne participez à aucun concours de pronostics !
		</div>
	}
}
