@model PronosContest.DAL.Pronos.Competition
@{
    ViewBag.Title = "Vos concours";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vos concours</h2>

@{ 
    if (this.Model != null)
    {

    }
}
