@model PronosContest.DAL.Pronos.Competition
@{
    ViewBag.Title = "Saisir vos pronostics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Saisir vos pronostics</h2>

@{ 
    if (this.Model != null)
    {

    }
}
