@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row" style="">
	<iframe src="http://fr.uefa.com/uefaeuro/season=2016/matches/round=2000448/match=2017883/index.html" frameborder="0" width="100%" height="300px"></iframe> 
</div>   
