@{
    ViewBag.Title = "Home Page";
}

<h1>Page d'accueil en cours de construction</h1>
<p>La page d'accueil n'est pas encore prête. Vous pouvez tout de même vous inscrire au concours en allant sur Recherche. Et ensuite vous serez redirigé vers la liste de vos concours et il suffira de cliquer sur Saisir pronostics. Merci pour votre compréhension.</p>

<p>Désolé pour le retard mais ça a été plus compliqué que prévu. Bon concours à tous !</p>